#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 90px;
}

#projects .items{
    flex-direction: column;
}

#projects .items .item{
    width: 100%;
}

.details .detail {
    flex-direction: column;
}